parameters:
    ignoreErrors:
        - '#Call to an undefined method Selami\\Router\\Router::get\(\)#' # magic
        - '#Call to an undefined method Selami\\Router\\Router::post\(\)#' # magic
        - '#Call to an undefined method Selami\\Router\\Router::nonAvalibleHTTPMethod\(\)#' # testing not available method